.MarkerPopover-container {
  width: 180px;
  position: absolute;
  margin-left: -100px;
  margin-top: 20px;
  text-align: center;
  background-color: #000000;
  opacity: 0.80;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 7px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  z-index: 9000;
}

.MarkerPopover-hidden {
  display: none;
}
