.Dashboard-link {
  text-decoration: none;
}

.Dashboard-form {
  width: 40%;
}

.Dashboard-heading {
  font-family: 'Open Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 3em;
  color: #34495e;
  text-align: center;
  display: block;
  margin-bottom: 0;
}

.Dashboard-input {
  display: block !important;
  width: 100% !important;
  margin-bottom: 0em;
}
